<h3>Title : <%= @blog.title %></h3>
<% if @blog.image.attached? %>
  <%= image_tag @blog.image, size: '190x200' %>
<% else %>
  <p>No image available</p>
<% end %>
<p>Content : <%= @blog.content %></p>
<p><%= link_to 'Home',root_path%></p>