<h3>Title : <%= @blog.title %></h3>
<% if @blog.image_url.present? %>
  <%= image_tag @blog.image_url, size: '100x100' %>
<% end %>
<p>Content : <%= @blog.content %></p>
<p><%= link_to 'Home',root_path%></p>